		/* css comment -> grouping css*/
		
		h2,h3{color:red;background-color:pink;text-align:center}
		
		.myp1{color:yellow;background-color:blue}
		.uppercase{text-transform:uppercase}
		.centre{text-align:center}
		
		#myp2{color:orange;background-color:green}
		
		.box{
			height:200px;
			width:200px;
			background-color:red;
		}
		.box h1{
			color:white;
			text-align:center;
		}
		
		h4.mystyle{
			background-color:purple;
			text-align:center;
			text-decoration:underline;
		}